h2 {
  font-size: 11em;
  text-align: center;
  color: #1d1d1d;
  font-family: 'Amatic SC', cursive;
  margin: 0;
}

.fp-section {
  text-align: center;
}

.page1 {
  background-color: #ececec;
}

.page2 {
  background-color: #f3d250;
}

.page3 {
  background-color: #90ccf4;
}

.page4 {
  background-color: #5da2d5;
}

.icon {
  width: 80px;
  padding: 15px;
  margin-bottom: 50px;
}

.icon { transition: all .2s ease-in-out; }
.icon:hover { transform: scale(1.4); }

.vert-move {
  width: 50px;
}

img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.title {
  font-size: 20px;
}

.pokedex {
  height: 640px;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

.ash {
  border-radius: 50%;
    width: 225px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid #1d1d1d;
    float: none;
    margin-left: 25px;
}