p {
  font-size: 11em;
  text-align: center;
  color: #1d1d1d;
  font-family: 'Amatic SC', cursive;
}

.fp-section {
  text-align: center;
}

.page1 {
  background-color: #90ccf4;

}

.page2 {
  background-color: #f3d250;
}

.page3 {
  background-color: #f78888;
}

.icon {
  width: 50px;
  padding: 15px;
}

.icon { transition: all .2s ease-in-out; }
.icon:hover { transform: scale(1.4); }

.button {
  right: 0;
  position: absolute;
}